    .body {
        width: 100%;
        background-color: rgb(226, 238, 243);
        padding: 0px;
    }
    
    .container {
        box-shadow: 0 5px 5px wheat;
        font-family: 'roboto', sans-serif;
    }
    
    .header {
        width: 100%;
        height: 55px;
        display: flex;
        font-family: 'roboto', sans-serif;
        font-weight: bolder;
    }
    
    .logo {
        width: 250px;
        height: 40px;
    }
    
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 55px;
        list-style: none;
        width: 1050px;
        padding-right: 15px;
        font-size: 20px;
        align-items: center;
        margin: 0;
    }
    
    .menu a {
        color: rgb(190, 145, 46);
        text-decoration: none;
        font-size: 22px;
        font-weight: 370;
    }
  

    .CCC :hover
    { 
        color: rgb(43, 226, 119);
    }

    .CCC :link {
        color: rgb(82, 82, 235);
        }
        
        .CCC :visited {
        color: rgb(78, 145, 245);
        }
        
        .CCC :active {
        color: rgb(233, 78, 78);
        }

        .nameofdog h2 {
        color: rgb(43, 116, 145);
        text-align: center;
    }
    
    .nameofdog h2:hover {
        color: tomato;
    }
    
    .info {
        color: rgb(185, 84, 11);
    }
    
    .info:hover {
        color: rgb(71, 255, 71);
    }
    
    .content h1 {
        padding: 30px 0;
        text-align: center;
        color: rgb(192, 41, 142);
        font-size: 40px;
        margin: 6px 0;
    }
    

    .giongcho img {
        width: 350px;
        height: 200px;
        border-radius: 5px;
        box-shadow: 4px 4px 4px 0px rgb(184, 53, 53);
    }
    
    .giongcho {
        width: 360px;
        
    }
    
    .anhcho :hover {
        width: 350px ;
        height: 220px;
        transform: scale(1);
        transition: all 0.5s;
    }
    .anhcho1 { 
        display: none;
    }
        .anhcho1:hover {
            height: 260px;
        }

    .bagiongcho {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(226, 238, 243);
    }
    
    .bagiongcho a {
        text-decoration: none;
    }
    
    
    .infoma {
        width: 350px;
        height: 200px;
        font-family: 'roboto', sans-serif;
        font-weight: 300;
        font-style: rgb(140, 236, 204);
        line-height: 1.5;
        padding: 0 15px;
    }
    
    .info {
        width: 325px;
        font-family: 'roboto', sans-serif;
        font-weight: 380;
        font-style: rgb(140, 236, 204);
        text-align: justify;
    }



    .footer {
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
        padding-left: 5px;
        background-color: rgb(226, 238, 243);
    }
    .footera {
        text-align: left;
        width: 325px;
        height: 300px;
    }
    .danhmuc {
        align-items: flex-start;
        
    }
    .danhmuc h3 {
        font-size: 25px;
        color: rgb(18, 53, 54);
    }
    
    .footera a{
        width: 325px;
        font-family: 'roboto', sans-serif;
        font-weight: 380;
        text-decoration: none;
        font-size: 17px;
        font-style: rgb(36, 198, 204);
        
        
    }
    .chuyenmuc iframe{width: 325px;
        height: 200px;

    }
    .mucnho {
        list-style-type: none;  
        font-size: 15px;
        padding: 0!important;
        line-height: 1.5;
        color: rgb(39, 54, 68);
    }
    .mucnho a :visited{ color: rgb(57, 77, 97) !important;
    }
    .mucnho a {
        color: rgb(39, 54, 68);

    }




    